<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Что в кино</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css.css">

  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Что в кино</a>
        </div>
      </div>
    </nav>

    {% for film in cinemas %}
        <div class="container col-md-4" style="width: 400px; margin-top: 10px;">
            <div>
                <h3 style="display: flex; min-height: 78px">
                    <a href="{{ film[1]['film_url'] }}">{{ film[0] }}</a>
                </h3>
            </div>
            <div>
                <a href="{{ film[1]['film_url'] }}">
                    <img height="500" width="350" src="{{ film[1]['poster_url'] }}">
                </a>
                <p class="lead">
                    Количество сеансов: {{  film[1]['cinema_shows'] }}
                </p>
                <p class="lead">
                    Рейтинг по версии Кинопоиска: <b>{{ film[1]['rating'] }}</b>
                </p>
                <p class="lead">
                    Проголосовали: {{ film[1]['votes_number'] }}
                </p>
            </div>
        </div>
        </div><!-- /.container -->
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="container-fluid col-md-12" style="margin: 160px 0px 0px -10px; padding: 20px">
        <div class="footer text-center">
            Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайта <a href="https://afisha.ru">Афиша</a>.
        </div>
    </div>

  </body>
</html>
